{% extends 'index.html.twig' %}

{% block customStylesheets %}
{% endblock %}

{% block titleText %}Converter{% endblock %}

{% block body %}
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">

            <h1 class="app-page-title">Converter</h1>

            <div class="app-card shadow-sm mb-4">
                <div class="inner">
                    <div class="app-card-body p-4 p-lg-4">

                        <div id="log" class="app-card app-card-stat">

                            <div class="app-card-body pb-4">
                                <h4 class="stats-type mb-1">Belarus Bank
                                    on {{ lastConvertResult['createdAt']|date('d.m.Y') }}</h4>
                                <h4 class="stats-type mb-1">Rate: <strong
                                            style="color: #0da95f">{{ lastConvertRate }}</strong></h4>
                                <span class="stats-figure">{{ lastConvertResult['amount']|replace({'.': ","}) }}</span> {{ lastConvertResult['fromCurrency'] }}
                                <span class="stats-figure"> = {{ lastConvertResult['convertResult']|replace({'.': ","}) }}</span> {{ lastConvertResult['toCurrency'] }}
                            </div>

                        </div>

                        <form id="currencyConverterForm" class="row gy-2 gx-3 align-items-center">
                            <div class="col-md-2 col-lg-2">
                                <label class="visually-hidden" for="amount">Name</label>
                                <input type="number" step="any" class="form-control w-200" id="amount"
                                       name="amount" placeholder="" required>
                            </div>
                            <div class="col-md-3 col-lg-3">
                                <label class="visually-hidden" for="fromCurrency">Preference</label>
                                <select id="fromCurrency" name="fromCurrency" class="form-select">
                                    {% for currency in currencies %}
                                        <option {{ currency == lastConvertResult['fromCurrency'] ? 'selected' }}>{{ currency }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-3 col-lg-3">
                                <label class="visually-hidden" for="toCurrency">Preference</label>
                                <select id="toCurrency" name="toCurrency" class="form-select">
                                    {% for currency in currencies %}
                                        <option {{ currency == lastConvertResult['toCurrency'] ? 'selected' }}>{{ currency }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-3 col-lg-3">
                                <button id="currencyConverterBtn" type="submit"
                                        class="btn app-btn-primary w-auto h-auto">Convert
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block customJavascripts %}
    <script>

        $(document).ready(function () {
            $('#currencyConverterForm').on("submit", function (event) {
                event.preventDefault();

                const formData = $(this).serialize();

                $.ajax({
                    type: 'POST',
                    url: 'convert',
                    data: formData,
                    success: (response) => {

                        let resultWrapper = {};
                        const form = document.getElementById('currencyConverterForm');

                        for (let i = 0; i < form.elements.length; i++) {
                            let e = form.elements[i];

                            if (e.value !== '') {
                                resultWrapper[e.name] = e.value;
                            }
                        }

                        const log = document.getElementById('log');

                        const localDate = new Date().toLocaleDateString();

                        log.innerHTML = `
                            <div class="app-card-body pb-4">
                                    <h4 class="stats-type mb-1">Belarus Bank on ${localDate}</h4>
                                    <h4 class="stats-type mb-1">Rate: <strong style="color: #0da95f">{{ lastConvertRate }}</strong></h4>
                                    <span class="stats-figure">${resultWrapper.amount}</span> ${resultWrapper.fromCurrency} <span class="stats-figure"> = ${response}</span> ${resultWrapper.toCurrency}
                            </div>
                        `;
                    }
                });

            });
        });

    </script>
{% endblock %}